@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-body text-neutral-950 bg-white antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.parallax-layer {
  will-change: transform;
}

/* --- ROAD ANIMATION --- */
@keyframes road-slide {
  0% { transform: translateX(-150%); }
  100% { transform: translateX(150%); }
}

.animate-road-slide {
  animation: road-slide 1.2s linear infinite;
}